<br><br>
<div class="form-group">
<div class="col-xs-6 col-sm-offset-3">
<div class="input-group">

  <% if @user %>
    <%= "Hello Slack-er!" %><br><br>
    <%= "To begin sending texts to Slack, enter your phone number and 9-digit Slack channel:" %>
    <%= bootstrap_form_for @user, url: "/home/1", method: "patch", :html => {:class => "form-horizontal center"} do |f| %>
    <%= f.text_field :phone, class: "form-control" %>
    <%= f.text_field :channel, class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
    <% end %>
    <% @token = @user.slack_token %>
    <%= "Don't remember your Slack Channel ID? Check out" %><br>
    <a href= "https://slack.com/api/channels.list?<%="#{@token}"%>&pretty=1">this list</a>
  <% end %>

</div>
</div>
</div>
