<br><br>
<div class="form-group">
  <div class="col-xs-6 col-sm-offset-3">
  <div class="input-group">

  <% if @user %>
    <%= "Hello Slack-er!" %><br>
    <%= "Enter your phone number to send texts to your fave Slack channels:" %>
    <%= bootstrap_form_for @user, url: "/home/1", method: "patch", :html => {:class => "form-horizontal center"} do |f| %>

    <%= f.text_field :phone, class: "form-control" %>
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
</div>

</div>
</div>
    <% end %>
  <% end %>
